/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v20-latin-500.woff2") format("woff2"), url("../fonts/rubik-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v20-latin-600.woff2") format("woff2"), url("../fonts/rubik-v20-latin-600.woff") format("woff");
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__img {
  width: 276px;
  height: 45px;
  display: block;
}

.header__span--box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.header__span--item {
  font-family: "Rubik";
  margin-right: 5px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #2959ce;
}

.header__span--list:not(:last-child) {
  margin-right: 25px;
}

.header__label {
  position: relative;
  display: flex;
  align-items: center;
}

.header__lang {
  background-color: #dce6ff;
  border-radius: 39px;
  width: 70px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.header__lang-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 12px;
  color: #a6a6a6;
  cursor: pointer;
}

.header__lang-label--active {
  color: #000000;
  background-color: #ffffff;
}

.header__radio:checked + label {
  color: #000000;
  background-color: #ffffff;
}

.header__buttom {
  border-radius: 10px;
  color: #ffffff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  background-color: #7296ec;
}

.header__input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  padding-left: 40px;
  border-radius: 60px;
  border: none;
  background-color: #ffffff;
}

.header__jy {
  position: absolute;
  left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
  padding-top: 130px;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
}

.nav__link {
  color: #7f7f7f;
  padding-left: -23px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:first-child {
  margin-left: 0;
}

.reklama__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.reklama-list {
  margin-top: 40px;
}

.hero {
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 40px;
  display: flex;
}

.hero__item {
  background-color: #f6f6ff;
  border-radius: 15px;
  width: 392px;
  padding: 17px 20px;
  min-height: 382px;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  flex-direction: column;
}

.hero__text {
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.hero__lorem {
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

.hero__img {
  max-width: 360px;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}

.hero__footer__img {
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.hero__liink {
  position: absolute;
  z-index: 100px;
  top: -17px;
  left: -17px;
  right: -17px;
  bottom: -20px;
}

.karl {
  display: flex;
  margin-top: 60px;
  background-image: url(./.././../img/bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 10px;
}

.karl__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 90px;
  color: #000000;
}

.jerk {
  margin-left: 550px;
  margin-top: 25px;
}

.karl1 {
  margin-right: 71px;
  padding: 13px 30px;
  border: none;
  color: white;
  background: #F78B3B;
  border-radius: 10px;
}

.main__button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-image: url(./../../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1050px 100px;
  margin-top: 60px;
}

.h3 {
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.nt {
  text-align: center;
  margin-left: 490px;
  padding: 13px 30px;
  border: none;
  background: #F78B3B;
  border-radius: 10px;
  color: white;
}

.wrapper {
  margin-top: 60px;
}

.wrapper__tittle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.wrapper__right {
  max-width: 393px;
  max-height: 550px;
  padding: 17px 20px;
  background-color: #F6F6F6;
  margin-left: 10px;
  border-radius: 15px;
}

.wrapper__box {
  display: flex;
  position: relative;
}

.wrapper__button {
  background: #EAEAEA;
  border-radius: 10px;
  border: none;
  margin-top: 17px;
  text-align: center;
  padding: 17px 345px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.wrapper__link {
  position: absolute;
  left: 0;
  top: 0;
  right: 404px;
  bottom: 80px;
}

.fefe {
  margin-top: 10px;
  margin-left: -20px;
}

.box {
  max-width: 797px;
  max-height: 205px;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 17px 30px;
  display: flex;
  margin-bottom: 10px;
}

.box__texts {
  margin-left: 15px;
}

.box__img {
  width: 210px;
}

.box__publish {
  align-items: center;
  margin-top: 2px;
}

.box__lorem {
  font-size: 16px;
  line-height: 22px;
  width: 535px;
  height: 66px;
  padding-top: 5px;
}

.box__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-top: -1px;
}

.right__box {
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid #D2D2D2;
}

.right__box__texts {
  width: 356px;
  height: 48px;
  padding: -220px;
}

.right__box__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.footer {
  margin-top: 100px;
  background-color: #7297EF;
}

.footer__idea--among {
  list-style-type: none;
}

.footer__box {
  padding: 23px 620px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.footer__idea {
  margin-top: 15px;
}

.footer__idea--among {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  padding-bottom: 5px;
  color: white;
}

.footer__img {
  margin-top: 23px;
  margin-left: 40px;
}

.footer2__idea--humble {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer2__idea {
  margin-top: 83px;
}

.footer3__idea {
  margin-top: 70px;
  color: white;
  list-style-type: none;
}

.footer3__idea--humble {
  margin-bottom: 20px;
}

.footer__buttom {
  color: #FFFFFF;
  border-top: 1px solid #CECECE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__buttom--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: 30px;
}

.footer__buttom--lorem {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.gg__img {
  margin-left: 25px;
}

.h33 {
  text-decoration: none;
}

.iui {
  color: #FFFFFF;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  height: 100%;
}

html {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */