.karl{
    display: flex;
    margin-top: 60px;
    background-image: url(./.././../img/bg.png);
    background-repeat: no-repeat;
     background-size: auto;
    background-position: center;
    border-radius: 10px;
}


.karl__text{

    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-left: 90px;
    color: #000000;


}

.jerk{
    margin-left: 550px;
    margin-top: 25px;
}

.karl1{
    margin-right: 71px;
    padding: 13px 30px;
    border: none;
    color: #ffff;
background: #F78B3B;
border-radius: 10px;

}

